[Desktop Entry]
Type=Application
Name=scriptLockSessionKeePass2
X-GNOME-Autostart-enabled=true
Exec=/home/<user>/Dropbox/Applications/AppKeeWeb/scriptLockSessionKeePass2.sh
